.Wrapper {
  display: flex;
  filter: drop-shadow(0 0 2px black);
  font-weight: bold;
}
.Info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
}
.Location {
  font-size: 1.25rem;
  background: -webkit-linear-gradient(#f8f7fe, #c9c3f6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.25rem;
}
.Temperature {
  font-size: 3rem;
  background: -webkit-linear-gradient(#f8f7fe, #c9c3f6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Time {
  background: -webkit-linear-gradient(#f8f7fe, #c9c3f6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 20px #040211);
}
.Left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0.25rem;
}
